@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv=Content-Type content='text/html; charset=utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>BRO | @ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Content/myPics/LOGOicon.ICO">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @Styles.Render("~/css")

    @Scripts.Render("~/javascript")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>BRO</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>BRO</b> | IC</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/myPics/LOGO.PNG" class="user-image" alt="User Image" />
                                <span class="hidden-xs">@Session["USER_ID"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/myPics/LOGO.PNG" class="img-circle" alt="User Image" />
                                    <p>
                                        <font size="3">@Session["USER_NAME"]</font>
                                        <br />
                                        <a href="broprofile.asp" class="btn btn-info" style="width:120px;">View Profile</a>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" style="width:150px;">Change Password</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout","Home")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <!-- Control Sidebar Toggle Button -->
                        <!--<li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>-->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @*<div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/myPics/LOGO.PNG" class="user-image" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>BRO</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>*@
                <!-- search form -->
                @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Maintenance</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Group","IC")"><i class="fa fa-circle-o"></i> Group</a></li>
                            <li><a href="@Url.Action("Location","IC")"><i class="fa fa-circle-o"></i> Location</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Currency</a></li>
                            <li><a href="@Url.Action("Stock","IC")"><i class="fa fa-circle-o"></i> Stock</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Debtor</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Vendor</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Salesman</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Cylinder</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Delivery</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Employee</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange"></i> <span>Transaction</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Physical Stock Entry</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Stock In Entry</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Stock Out
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Stock Out Entry</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Print Delivery Order</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Stock Adjustment Entry</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Stock Transfer Entry</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Stock Return Inward Entry</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Stock Return Outward Entry</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Enter D/Order & Invoice
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> D/Order & Invoice Entry</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Print D/Order & Invoice</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Print D/Order & Invoice (Posted)</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Enter Invoice (Standalone)
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Invoice Entry</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Print Invoice</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Material Return</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-question"></i> <span>Inquiries</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-desktop"></i> <span>Processing</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gear"></i> <span>Utilities</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
    </div>

    <script>
        @*$.sessionTimeout({
            keepAliveUrl:'Password',
        //keepAliveUrl: '../../Content/bootstrap-session-timeout-master/examples/keep-alive.html',
        keepalive: 'onStayConnectedClick',
        logoutUrl: '../Home/Logout',
        redirUrl: '../Home/Logout',
        warnAfter: 360000,
        redirAfter: 400000,
        countdownMessage: 'Redirecting in {timer} seconds.',
        countdownBar: true,
        ignoreUserActivity: true
    });*@
    </script>

</body>
</html>
