﻿@model BRO.Models.PasswordModel
@{
    ViewBag.Title = "Password Detail";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}
<style>
    .swal2-popup {
        font-size: 1.6rem !important;
    }
</style>
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("PasswordDet", "Password", FormMethod.Post, new { id = "formPassDet", name = "formPassDet", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    //if(ViewBag.Message != null) {
                    //var data = ViewBag.FieldValue;
                    //}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Login ID : </label>
                            <div id="divLoginID" class="col-sm-4">
                                @if (ViewBag.FieldValue == null)
                                {
                                    <input class="form-control" id="txtLOGIN_ID" name="txtLOGIN_ID"
                                           onfocus="clearError('LOGIN_ID');" maxlength="10" primaryKey>
                                    <span id="errorLoginID" class="help-block"></span>
                                }
                                else
                                {
                                    <span class="mod-form-control">@ViewBag.FieldValue.LOGIN_ID</span>
                                    <input type="hidden" id="txtLOGIN_ID" name="txtLOGIN_ID" value="@ViewBag.FieldValue.LOGIN_ID">
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name : </label>
                            <div id="divLoginID" class="col-sm-6">
                                <input class="form-control" id="txtNAME" name="txtNAME" maxlength="30" value="@ViewBag.FieldValue.NAME">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password : </label>
                            <div id="divPASSWORD" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtPASSWORD" name="txtPASSWORD" type="password"
                                           class="form-control" maxlength="30" onfocus="clearBoth('PASSWORD','CONFIRM');">
                                    <div class="input-group-addon">
                                        <span toggle="#txtPASSWORD" class="glyphicon glyphicon-eye-close toggle-password"></span>
                                    </div>
                                </div>
                                <span id="errorPASSWORD" class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password : </label>
                            <div id="divCONFIRM" class="col-sm-4">
                                <div class="input-group">
                                    <input id="txtCONFIRM" name="txtCONFIRM" type="password"
                                           class="form-control" maxlength="30" onfocus="clearBoth('PASSWORD','CONFIRM');">
                                    <div class="input-group-addon">
                                        <span toggle="#txtCONFIRM" class="glyphicon glyphicon-eye-close toggle-password"></span>
                                    </div>
                                </div>
                                <span id="errorCONFIRM" class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @if (ViewBag.FieldValue == null)
                        {
                            <button type="button" id="btnSubmit" class="btn btn-info pull-right" value="Save">Save</button>
                        }
                        else
                        {
                            <button type="button" id="btnDelete" class="btn btn-danger pull-left" value="Delete">Delete</button>
                            <button type="button" id="btnSubmit" class="btn btn-warning pull-right" value="Update">Update</button>
                        }
                    </div> <!-- /.box-footer -->
                }
            </div><!-- /.box -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</section><!-- /.content -->

<script src="~/Content/myJavascripts/myJavascripts.js"></script>


<script>

    //=== Show and unshow password
    $(".toggle-password").click(function () {
        //=== Proper way of doing toggleClass for glyphicon and font-awesome
        $(this).toggleClass('glyphicon-eye-close', 'remove');
        $(this).toggleClass('glyphicon-eye-open', 'add');
        //=================================================================
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $('#btnSubmit').click(function () {

        var sSaveOrUpdate = $("#btnSubmit").val()
        var sURL;

        if ($("#txtLOGIN_ID").val() == "") {
            document.getElementById("divLoginID").className += ' has-error'
            document.getElementById("errorLoginID").innerHTML = "Please enter a Login ID"
            return false;
        }

        if(sSaveOrUpdate == "Save"){

            if ($("#txtPASSWORD").val() == "") {
                document.getElementById("divPASSWORD").className += ' has-error'
                document.getElementById("errorPASSWORD").innerHTML = "Password cannot be empty"
                 document.getElementById("divCONFIRM").className += ' has-error'
                return false;
            }else if ($("#txtPASSWORD").val() != $("#txtCONFIRM").val()) {
                document.getElementById("divPASSWORD").className += ' has-error'
                document.getElementById("errorPASSWORD").innerHTML = "Password does not match"
                document.getElementById("divCONFIRM").className += ' has-error'
                document.getElementById("errorCONFIRM").innerHTML = "Password does not match"
                return false;
            }else{
               sURL  = 'PasswordDet/' + sSaveOrUpdate;
            }
        }

        if(sSaveOrUpdate == "Update"){

            if ($("#txtPASSWORD").val() != "" ){

                if ($("#txtPASSWORD").val() != $("#txtCONFIRM").val()) {
                    document.getElementById("divPASSWORD").className += ' has-error'
                    document.getElementById("errorPASSWORD").innerHTML = "Password does not match"
                    document.getElementById("divCONFIRM").className += ' has-error'
                    document.getElementById("errorCONFIRM").innerHTML = "Password does not match"
                    return false;
                }else{
                    sURL = sSaveOrUpdate;
                }
            } else {
                sURL = sSaveOrUpdate;
            }
        }

        var formData = $('#formPassDet').serialize();

        $.ajax({

            url: sURL,
            type: "POST",
            data: formData,
            dataType: "json",
            success: function (response) {

                if (response.status == "saved") {

                    Swal.fire({
                        type: 'success',
                        //title: 'CREATED!',
                        title: response.message + ' has been successfully CREATED!',
                        showConfirmButton : 'true',
                        //text: $("#txtLOGIN_ID").val() + ' has been successfully created!',
                        //footer: '<a href>Why do I have this issue?</a>'
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = 'Password';
                        }
                    })

                } else if (response.status == "updated") {

                    Swal.fire({
                        type: 'success',
                        //title: 'UPDATED!',
                        title: response.message + ' has been successfully UPDATED!',
                        showConfirmButton: 'true',
                        //text: response.message + ' has been successfully updated!',

                    }).then((result) => {
                        if (result.value) {
                            window.location.href = '../Password/';
                        }
                    })

                }

                else if (response.status == "fail") {

                    $("#div" + response.fieldname).toggleClass('has-error', 'add');
                    $("#error" + response.fieldname).html(response.message);
                    return false;
                }
            },

            error: function (response) {
                    alert("Something went wrong somewhere");
                    return false;
            }
        })
    });

    $('#btnDelete').click(function () {

        Swal.fire({

            //title: 'Are you sure?',
            title: $('#txtLOGIN_ID').val() + ' will be deleted! ',
            //text: $('#txtLOGIN_ID').val() + ' will be deleted! ',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'

        }).then((result) => {

            if (result.value) {

                var formData = $('#formPassDet').serialize();
                var sURL = $('#btnDelete').val();
                $.ajax({

                    url: sURL,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    success: function (response) {

                        if (response.status == "deleted") {
                            Swal.fire(
                                'DELETED!',
                                 response.message + ' has been deleted.',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    window.location.href = '../Password/';
                                }
                            })
                        }
                    },

                    error: function (response) {
                        alert("Something went wrong somewhere");
                        return false;
                    }
                })
            }
        })
    });

</script>

