@model BRO.Models.ICModel

@{
    ViewBag.Title = "Password Detail";
    Layout = "~/Views/Shared/_LayoutIC.cshtml";
}

<section class="content-header">
    <h1>Stock Detail</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("StockDet", "IC", FormMethod.Post, new { id = "formStkDet", name = "formStkDet", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    //if(ViewBag.Message != null) {
                    var data = ViewBag.FieldValue;
                    //}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Stock Code : </label>
                            <div id="divSTKCODE" class="col-sm-4">
                                @if (data.STKCODE == "")
                                {
                                    <input class="form-control" id="txtSTKCODE" name="txtSTKCODE"
                                           onfocus="clearError('STKCODE');" maxlength="10" primaryKey>
                                    <span id="errorSTKCODE" class="help-block"></span>
                                }
                                else
                                {
                                    <span class="mod-form-control">@data.STKCODE</span>
                                    <input type="hidden" id="txtSTKCODE" name="txtSTKCODE" value="@data.STKCODE">
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description : </label>
                            <div id="divPART" class="col-sm-6">
                                <input class="form-control" id="txtPART" name="txtPART" maxlength="30" value="@data.PART"><br />
                                <input class="form-control" id="txtPART1" name="txtPART1" maxlength="30" value="@data.PART1"><br />
                                <input class="form-control" id="txtPART2" name="txtPART2" maxlength="30" value="@data.PART2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Group : </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control pull-left" id="txtGRP_CODE" name="txtGRP_CODE" value="@data.GRP_CODE" maxlength="10" style="text-transform: uppercase">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0);" class="btn btn-default"
                                           onclick="viewModal()">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="txtVEN_PART" name="txtVEN_PART" value="@data.GRP_DESC" READONLY>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location : </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control pull-left" id="txtLOC" name="txtLOC" value="@data.LOC_CODE" maxlength="10" style="text-transform: uppercase">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0);" class="btn btn-default"
                                           onclick="viewModal()">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="txtLOC_PART" name="txtLOC_PART" value="@data.LOC_DESC" READONLY>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Unit of Measure : </label>
                            <div id="divUNIT" class="col-sm-2">
                                <input class="form-control" id="txtUNIT" name="txtUNIT" maxlength="30" value="@data.UNIT">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tariff : </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control pull-left" id="txtTAR_CODE" name="txtTAR_CODE" value="@data.TAR_CODE" maxlength="10" style="text-transform: uppercase">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0);" class="btn btn-default"
                                           onclick="viewModal()">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="txtLOC_PART" name="txtLOC_PART" value="@data.TAR_DESC" READONLY>
                            </div>
                        </div>
                
                        <br />

                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="nav-tabs-custom col-sm-9">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Det"><b>Details</b></a></li>
                                    <li><a data-toggle="tab" href="#VenPrcDet"><b>Vendor Price Details</b></a></li>
                                    <li><a data-toggle="tab" href="#DebPrcDet"><b>Debtor Price Details</b></a></li>
                                </ul>

                                <div class="tab-content">

                                    <div id="Det" class="tab-pane fade in active">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Stock Type : </label>
                                            <div class="col-sm-4">
                                                <select name="selStkType" class="form-control">
                                                    <option value="RM">Raw Material</option>
                                                    <option value="FG" selected>Finished Goods</option>
                                                    <option value="SFG">Semi-finished Goods</option>
                                                    <option value="OTH">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Category : </label>
                                            <div class="col-sm-3">
                                                <select name="selCat" class="form-control">
                                                    <option value="D">Direct</option>
                                                    <option value="I">Indirect</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Purchase Tax ID : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control" id="txtPTAX_ID" name="txtPTAX_ID" value="@data.LOC_CODE" maxlength="10" primarykey>
                                                    <span class="input-group-btn">
                                                        <a href="javascript:void(0);" class="btn btn-default"
                                                           onclick="viewModal()">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <label class="col-sm-3 control-label pull-left">Supply Tax ID : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control pull-left" id="txtSTAX_ID" name="txtSTAX_ID" value="@data.LOC_CODE" maxlength="10" primarykey>
                                                    <span class="input-group-btn">
                                                        <a href="javascript:void(0);" class="btn btn-default"
                                                           onclick="viewModal()">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Purchase Tax Code : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtPTAX_PART" name="txtPTAX_PART" value="@data.LOC_DESC" READONLY>
                                            </div>
                                            <label class="col-sm-3 control-label">Supply Tax Code : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtSTAX_PART" name="txtSTAX_PART" value="@data.LOC_DESC" READONLY>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Purchase Tax Rate : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtPTAX" name="txtPTAX" value="@data.LOC_DESC" READONLY>
                                            </div>
                                            <label class="col-sm-3 control-label">Supply Tax Rate : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtSTAX" name="txtSTAX" value="@data.LOC_DESC" READONLY>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Standard Cost : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control pull-left" id="txtPTAX_ID" name="txtPTAX_ID" value="@data.LOC_CODE" maxlength="10" primarykey>
                                                </div>
                                            </div>
                                            <label class="col-sm-3 control-label">Selling Price : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control pull-left" id="txtSTAX_ID" name="txtSTAX_ID" value="@data.LOC_CODE" maxlength="10" primarykey>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Standard Cost : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtPTAX" name="txtPTAX" value="@data.LOC_DESC" READONLY>
                                            </div>
                                            <label class="col-sm-3 control-label">Selling Price : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="txtSTAX" name="txtSTAX" value="@data.LOC_DESC" READONLY>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Maximum Level : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control pull-left" id="txtPTAX_ID" name="txtPTAX_ID" value="@data.LOC_CODE" maxlength="10" primarykey>
                                                </div>
                                            </div>
                                            <label class="col-sm-3 control-label">Minimum Level : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control" id="txtSTAX_ID" name="txtSTAX_ID" value="@data.LOC_CODE" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Reorder Level : </label>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control" id="txtPTAX_ID" name="txtPTAX_ID" value="@data.LOC_CODE" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    


                                    <div id="VenPrcDet" class="tab-pane fade">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tblVenPrcDet" class="table table-bordered" width="100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="NumCol">No</th>
                                                                <th class="Ven_CodeCol">Vendor</th>
                                                                <th class="Ven_Name">Name</th>
                                                                <th class="MOQCol">MOQ</th>
                                                                <th class="SellPrcCol">Selling Price</th>
                                                                <th class="EditDelCol"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr role="row">
                                                                <td>1</td>
                                                                <td>VEN_0001</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>2</td>
                                                                <td>VEN_0002</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>22.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>3</td>
                                                                <td>VEN_0003</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>21.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>4</td>
                                                                <td>VEN_0004</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>32.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            <tr role="row">
                                                                <td>5</td>
                                                                <td>VEN_0005</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>42.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>6</td>
                                                                <td>VEN_0006</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>52.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="DebPrcDet" class="tab-pane fade">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tblDebPrcDet" class="table table-bordered" width="100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="NumCol">No</th>
                                                                <th class="Deb_CodeCol">Debtor</th>
                                                                <th class="Deb_Name">Name</th>
                                                                <th class="MOQCol">MOQ</th>
                                                                <th class="SellPrcCol">Selling Price</th>
                                                                <th class="EditDelCol"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr role="row">
                                                                <td>1</td>
                                                                <td>Deb_0001</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>11.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>2</td>
                                                                <td>Deb_0002</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>3</td>
                                                                <td>Deb_0003</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>4</td>
                                                                <td>Deb_0004</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            <tr role="row">
                                                                <td>5</td>
                                                                <td>Deb_0005</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>6</td>
                                                                <td>Deb_0006</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>12.00</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="javascript:void(0);" onclick="viewModal()"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        @if (data.STKCODE == "")
                        {
                            <button type="button" id="btnSubmit" class="btn btn-info pull-right" value="Save">Save</button>
                        }
                        else
                        {
                            <button type="button" id="btnDelete" class="btn btn-danger pull-left" value="Delete">Delete</button>
                            <button type="button" id="btnSubmit" class="btn btn-warning pull-right" value="Update">Update</button>
                        }
                    </div> <!-- /.box-footer -->
                }
            </div><!-- /.box box-info -->
        </div><!-- /.col-md-12-->
    </div><!--/.row-->
</section><!-- /.content -->
@*<div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">vendor Information</h2>
            </div>
            <div id="mycontent">
                - Content --
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

</div>

<div class="modal fade bd-example-modal-lg" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

</div>
<script>
    $(document).ready(function () {

        var tblVenPrcDet = $('#tblVenPrcDet').DataTable({

            "paging": true,
            "ordering": true,
            "processing": true, // control the processing indicator.
            //"serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            //"stateSave": true,  //remain table state on AFTER SAVE OR UPDATE OR BACK
            "lengthChange": true,
            "lengthMenu": [[2, 4, 10, -1], [2, 4, 10, "All"]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "colReorder": true,
            "orderMulti": true, // for disable multiple column at once
            "order": [["3", "desc"]], //=== Not working during stateSave
            //"order": [[ 2, "asc" ], [ 1, "desc" ]],
            "language": {
                searchPlaceholder: "Search records"
            },

            //"ajax":{
            //    "url": "/Password/AjaxGetJsonData",
            //    "type": "POST"
            //},

            "columnDefs": [
                {
                    "width": "5%", "targets": 'NumCol', //"data": "id",
                    "orderable": false,
                    //"render": function (data, type, row, meta) {
                    //   return meta.row + meta.settings._iDisplayStart + 1;
                    //}
                },
            //    {
            //        "targets": 'LoginCol', // The third column
            //        "data": "LoginID", "orderable": true
            //    },
            //    {
            //        "targets": 'NameCol', // The third column
            //        "data": "Name", "orderable": true
            //    },
            //    {
            //        "targets": 'DtCreatedCol', // The third column
            //        "data": "DateCreated", "orderable": true
            //    },
                {
                    "targets": 'EditDelCol', // The third column
                    "className": "text-center",
                    "orderable": false,
                    // "render": function (data, type, full, meta) {
                    //     return '<a href="/Password/PasswordDet/' + full.AutoINC + '"><img src="../../Content/myPics/edit-2-24.png" ></a>';
                    // }
                }
            ],

            "dom":
                "<'row'<'col-sm-3'l><'col-sm-5'B><'col-sm-4'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            "buttons": [
                {
                    text: 'New',
                    className: "btn btn-primary",
                    action: function () {
                        viewDebPrcEnt();
                    },
                    //render: function (data, type, full, meta) {
                    //     return '<a href="javascript:void(0);" onclick="viewModal()"></a>';
                    //},
                },
            ],

            initComplete: function () {

                $(".dt-button").removeClass("dt-button");
            },

        });

        $('#tblVenPrcEnt tbody').on('click', 'tr', function () {
            //=== DEBUG PURPOSE: console.log(table.row(this).data());
            var data = table.row(this).data();
            window.location.href = '@Url.Action("PasswordDet", "Password")/' + data["AUTOINC"];
        });

        var tblDebPrcDet = $('#tblDebPrcDet').DataTable({

            "paging": true,
            "ordering": true,
            "processing": true, // control the processing indicator.
            //"serverSide": true, // recommended to use serverSide when data is more than 10000 rows for performance reasons
            "info": true,   // control table information display field
            //"stateSave": true,  //remain table state on AFTER SAVE OR UPDATE OR BACK
            "lengthChange": true,
            "lengthMenu": [[2, 4, 10, -1], [2, 4, 10, "All"]],    // use the first inner array as the page length values and the second inner array as the displayed options
            "colReorder": true,
            "orderMulti": true, // for disable multiple column at once
            "order": [["3", "desc"]], //=== Not working during stateSave
            //"order": [[ 2, "asc" ], [ 1, "desc" ]],
            "language": {
                searchPlaceholder: "Search records"
            },

            //"ajax":{
            //    "url": "/Password/AjaxGetJsonData",
            //    "type": "POST"
            //},

            "columnDefs": [
                {
                    "width": "5%", "targets": 'NumCol', //"data": "id",
                    "orderable": false,
                    //"render": function (data, type, row, meta) {
                    //   return meta.row + meta.settings._iDisplayStart + 1;
                    //}
                },
            //    {
            //        "targets": 'LoginCol', // The third column
            //        "data": "LoginID", "orderable": true
            //    },
            //    {
            //        "targets": 'NameCol', // The third column
            //        "data": "Name", "orderable": true
            //    },
            //    {
            //        "targets": 'DtCreatedCol', // The third column
            //        "data": "DateCreated", "orderable": true
            //    },
                {
                    "targets": 'EditDelCol', // The third column
                    "className": "text-center",
                    "orderable": false,
                    // "render": function (data, type, full, meta) {
                    //     return '<a href="/Password/PasswordDet/' + full.AutoINC + '"><img src="../../Content/myPics/edit-2-24.png" ></a>';
                    // }
                }
            ],

            "dom":
                "<'row'<'col-sm-3'l><'col-sm-5'B><'col-sm-4'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            "buttons": [
                {
                    text: 'New',
                    className: "btn btn-primary",
                    action: function () {
                        viewVenPrcEnt();
                    },
                    //render: function (data, type, full, meta) {
                    //     return '<a href="javascript:void(0);" onclick="viewModal()"></a>';
                    //},
                },
            ],

            initComplete: function () {

                $(".dt-button").removeClass("dt-button");
            },

        });


        $('#tblDebPrcEnt tbody').on('click', 'tr', function () {
            //=== DEBUG PURPOSE: console.log(table.row(this).data());
            var data = table.row(this).data();
            window.location.href = '@Url.Action("PasswordDet", "Password")/' + data["AUTOINC"];
        });
    });


    function viewModal() {

        var url = "/PartialView/viewGroup"

        $.get(url, function(data){
            $("#viewModal").html(data);
            $("#viewModal").modal('show');
        });
    }

    function viewModal2() {

        var url = "/PartialView/viewGroup"

        $.get(url, function (data) {
            $("#viewModal2").html(data);
            $("#viewModal2").modal('show');

            $(".modal-header").on("mousedown", function (mousedownEvt) {
                var $draggable = $(this);
                var x = mousedownEvt.pageX - $draggable.offset().left,
                    y = mousedownEvt.pageY - $draggable.offset().top;
                $("body").on("mousemove.draggable", function (mousemoveEvt) {
                    $draggable.closest(".modal-dialog").offset({
                        "left": mousemoveEvt.pageX - x,
                        "top": mousemoveEvt.pageY - y
                    });
                });
                $("body").one("mouseup", function () {
                    $("body").off("mousemove.draggable");
                });
                $draggable.closest(".modal").one("bs.modal.hide", function () {
                    $("body").off("mousemove.draggable");
                });
            });
        });
    }



    function viewVenPrcDetEnt() {

        var url = "/PartialView/VenPrcDetEnt"

        $.get(url, function (data) {
            $("#viewModal").html(data);
            $("#viewModal").modal('show');
        });
    }

    function viewDebPrcDetEnt() {

        var url = "/PartialView/DebPrcDetEnt"

        $.get(url, function (data) {
            $("#viewModal").html(data);
            $("#viewModal").modal('show');
        });
    }

</script>


