@model BRO.Models.ICModel

@{
    ViewBag.Title = "Password Detail";
    Layout = "~/Views/Shared/_LayoutIC.cshtml";
}

<section class="content-header">
    <h1>Stock Detail</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn btn-default" value="Back"
                           onclick="history.go(-1)" />
                </div><!-- /.box-header -->
                <!-- Horizontal Form -->
                <!-- form start -->
                @using (Html.BeginForm("StockDet", "IC", FormMethod.Post, new { id = "formStkDet", name = "formStkDet", role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    //if(ViewBag.Message != null) {
                    var data = ViewBag.FieldValue;
                    //}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Stock Code : </label>
                            <div id="divSTKCODE" class="col-sm-4">
                                @if (data.STKCODE == "")
                                {
                                    <input class="form-control" id="txtSTKCODE" name="txtSTKCODE"
                                           onfocus="clearError('STKCODE');" maxlength="10" primaryKey>
                                    <span id="errorSTKCODE" class="help-block"></span>
                                }
                                else
                                {
                                    <span class="mod-form-control">@data.STKCODE</span>
                                    <input type="hidden" id="txtSTKCODE" name="txtSTKCODE" value="@data.STKCODE">
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description : </label>
                            <div id="divPART" class="col-sm-6">
                                <input class="form-control" id="txtPART" name="txtPART" maxlength="30" value="@data.PART"><br />
                                <input class="form-control" id="txtPART1" name="txtPART1" maxlength="30" value="@data.PART1"><br />
                                <input class="form-control" id="txtPART2" name="txtPART2" maxlength="30" value="@data.PART2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Vendor : </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control pull-left" id="txtVEN" name="txtVEN" value="@data.VEN_CODE" maxlength="10" style="text-transform: uppercase">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0);" class="btn btn-default"
                                           onclick="viewModal()">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="txtVEN_PART" name="txtVEN_PART" value="@data.VEN_NAME" READONLY>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location : </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control pull-left" id="txtLOC" name="txtLOC" value="@data.LOC_CODE" maxlength="10" style="text-transform: uppercase">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0);" class="btn btn-default"
                                           onclick="viewModal()">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="txtLOC_PART" name="txtLOC_PART" value="@data.LOC_DESC" READONLY>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="nav-tabs-custom col-sm-10">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Det">Details</a></li>
                                    <li><a data-toggle="tab" href="#VenPriceDet">Vendor Price Details</a></li>
                                    <li><a data-toggle="tab" href="#DebPriceDet">Debtor Price Details</a></li>
                                </ul>
                                <div class="tab-content">

                                    <div id="Det" class="tab-pane fade in">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Stock Type : </label>
                                            <div class="col-sm-4">
                                                <select name="selStkType" class="form-control">
                                                    <option value="RM">Raw Material</option>
                                                    <option value="FG" selected>Finished Goods</option>
                                                    <option value="SFG">Semi-finished Goods</option>
                                                    <option value="OTH">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Category : </label>
                                            <div class="col-sm-4">
                                                <select name="selCat" class="form-control">
                                                    <option value="D">Direct</option>
                                                    <option value="I">Indirect</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="VenPriceDet" class="tab-pane fade active">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tblVenPrcDet" class="table table-bordered" width="100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="NumCol">No</th>
                                                                <th class="Ven_CodeCol">Vendor</th>
                                                                <th class="Ven_Name">Name</th>
                                                                <th class="MOQCol">MOQ</th>
                                                                <th class="SellPrcCol">Selling Price</th>
                                                                <th class="EditDelCol"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr role="row">
                                                                <td>1</td>
                                                                <td>VEN_0001</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                                <td>
                                                                    <a href="/Password/PasswordDet/' + @data.AUTOINC + '"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="/Password/PasswordDet/' + @data.AUTOINC + '"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>2</td>
                                                                <td>VEN_0002</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>3</td>
                                                                <td>VEN_0003</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>4</td>
                                                                <td>VEN_0004</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                            <tr role="row">
                                                                <td>5</td>
                                                                <td>VEN_0005</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>6</td>
                                                                <td>VEN_0006</td>
                                                                <td>This is a vendor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="DebPriceDet" class="tab-pane fade">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="tblDebPrcDet" class="table table-bordered" width="100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="NumCol">No</th>
                                                                <th class="Deb_CodeCol">Debtor</th>
                                                                <th class="Deb_Name">Name</th>
                                                                <th class="MOQCol">MOQ</th>
                                                                <th class="SellPrcCol">Selling Price</th>
                                                                <th class="EditDelCol"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr role="row">
                                                                <td>1</td>
                                                                <td>Deb_0001</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                                <td>
                                                                    <a href="/Password/PasswordDet/' + @data.AUTOINC + '"><img src="../../Content/myPics/edit-2-24.png"></a>
                                                                    <a href="/Password/PasswordDet/' + @data.AUTOINC + '"><img src="../../Content/myPics/x-mark-24.png"></a>
                                                                </td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>2</td>
                                                                <td>Deb_0002</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>3</td>
                                                                <td>Deb_0003</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>4</td>
                                                                <td>Deb_0004</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                            <tr role="row">
                                                                <td>5</td>
                                                                <td>Deb_0005</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                            <tr role="row">
                                                                <td>6</td>
                                                                <td>Deb_0006</td>
                                                                <td>This is a Debtor example</td>
                                                                <td>MOQ</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="box-footer">
                                @if (data.STKCODE == "")
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-info pull-right" value="Save">Save</button>
                                }
                                else
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger pull-left" value="Delete">Delete</button>
                                    <button type="button" id="btnSubmit" class="btn btn-warning pull-right" value="Update">Update</button>
                                }
                            </div> <!-- /.box-footer -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.box-body -->
                }
            </div><!-- /.box-body -->
        </div><!-- /.col-md-12-->
    </div><!--/.row-->
</section><!-- /.content -->
@*<div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">vendor Information</h2>
            </div>
            <div id="mycontent">
                - Content --
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

</div>
<script>
    $(document).ready(function () {
        $('#tblVenPrcDet').DataTable();
    });
    //function viewModal() {
    //    var xhttp;

    //    xhttp = new XMLHttpRequest();
    //    xhttp.onreadystatechange = function () {
    //        if (xhttp.readyState == 4 && xhttp.status == 200) {
    //            document.getElementById(mycontent).innerHTML = xhttp.responseText;
    //        }
    //    };

    //    xhttp.open("GET", "/PartialView/viewvendor", true);
    //    xhttp.send();

    //    $("#viewModal").modal('show');
    //}

    function viewModal() {

        var url = "/PartialView/viewvendor"

        $.get(url, function(data){
            $("#viewModal").html(data);
            $("#viewModal").modal('show');
        });
    }

    $('#txtSTKCODE').keyup(function () {
        $(this).val($(this).val().toUpperCase());
    });

    //$('#btnSubmit').click(function () {

    //    var sSaveOrUpdate = $("#btnSubmit").val()

    //    if ($("#txtSTKCODE").val() == "") {
    //        document.getElementById("divSTKCODE").className += ' has-error'
    //        document.getElementById("errorSTKCODE").innerHTML = "Please enter a Stock Code"
    //        return false;
    //    }

    //    if(sSaveOrUpdate == "Save"){

    //        if ($("#txtPassword").val() == "") {
    //            document.getElementById("divPassword").className += ' has-error'
    //            document.getElementById("errorPassword").innerHTML = "Password cannot be empty"
    //             document.getElementById("divConfirm").className += ' has-error'
    //            return false;
    //        }else if ($("#txtPassword").val() != $("#txtConfirm").val()) {
    //            document.getElementById("divPassword").className += ' has-error'
    //            document.getElementById("errorPassword").innerHTML = "Password does not match"
    //            document.getElementById("divConfirm").className += ' has-error'
    //            document.getElementById("errorConfirm").innerHTML = "Password does not match"
    //            return false;
    //        }else{
    //            var url = 'PasswordDet/' + $("#btnSubmit").val();
    //        }
    //    }

    //    if(sSaveOrUpdate == "Update"){

    //        if ($("#txtPassword").val() != "" ){

    //            if ($("#txtPassword").val() != $("#txtConfirm").val()) {
    //                document.getElementById("divPassword").className += ' has-error'
    //                document.getElementById("errorPassword").innerHTML = "Password does not match"
    //                document.getElementById("divConfirm").className += ' has-error'
    //                document.getElementById("errorConfirm").innerHTML = "Password does not match"
    //                return false;
    //            }else{
    //                var url = $("#btnSubmit").val();
    //            }
    //        }
    //    }

    //    var formData = $('#formPassDet').serialize();

    //    $.ajax({

    //        url: url,
    //        type: "POST",
    //        data: formData,
    //        dataType: "json",
    //        success: function (response) {

    //            if (response.status == "saved") {

    //                alert($("#txtSTKCODE").val() + ' has been successfully created! ');
    //                window.location.href = 'Password';

    //            } else if (response.status == "updated") {

    //                alert($("#txtSTKCODE").val() + ' has been successfully updated! ');
    //                window.location.href = '../Password/';

    //            }
    //            else if (response.status == "fail") {

    //                $("#div" + response.fieldname).toggleClass('has-error', 'add');
    //                $("#error" + response.fieldname).html(response.message);
    //                return false;
    //            }
    //        },

    //        error: function (response) {
    //                alert("Something went wrong somewhere");
    //                return false;
    //        }
    //    })
    //});
</script>


